<div class="login-page">
    <div class="col-md-4 col-md-offset-4 box">
    	
    	<h1>Welcome to Zoopa</h1>

		<form role="form" ng-submit="login(username, password, rememberMe)">
		  <div focus-input class="form-group">
		  	<label>Email</label>
		    <input type="email" class="form-control" ng-model="username">
		  </div>
		  <div focus-input class="form-group">
		  	<label>Password</label>
		    <input type="password" class="form-control" ng-model="password">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" ng-model="rememberMe"> Remember me
		    </label>
		  </div>
		  <div>
		  	<p><a class="link-hovered" ui-sref="forgotPassword">Forgot password?</a></p>
		  </div>
		  <div ng-if="loging || error">
		  	<p ng-if="loging">Loging in...</p>
		  	<p ng-if="error" class="text-danger">Error: {{errorDescription}}</p>
		  </div>

		  <div style="margin-top: 20px;">
			<input type="submit" class="btn btn-success" value="Login"/>
			<input type="button" class="btn btn-default pull-right" ui-sref="accountCreation" value="Create account"/>
			<!-- <a class="btn btn-default">Forgot password</a> -->
		  </div>
		</form>

    </div>
</div>
